Repository kimny1143/mued_lms_fgm: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, ai-service, scheduling-service

docs: 鈴木担当タスクを完了としてマーク
  docs/todo/week3-todo.md
Due: none

fix: E2EテストとAPIエンドポイントのパスを修正
  ai-service/app/api.py
  ai-service/tests/test_api.py
  tests/e2e/auth-booking.spec.ts
Due: ai-service, scheduling-service

fix: Stripeの型定義とTypeScriptエラーを修正
  ai-service/__pycache__/conftest.cpython-310-pytest-7.4.0.pyc
  ai-service/app/__pycache__/api.cpython-310.pyc
  ai-service/app/__pycache__/main.cpython-310.pyc
  ai-service/app/__pycache__/models.cpython-310.pyc
  ai-service/tests/__pycache__/__init__.cpython-310.pyc
  ai-service/tests/__pycache__/test_api.cpython-310-pytest-7.3.1.pyc
  ai-service/tests/__pycache__/test_api.cpython-310-pytest-7.4.0.pyc
  package-lock.json
  package.json
  src/routes/api/stripe/webhook.ts
Due: frontend, ai-service

fix: CIテスト設定とテストコードの修正
  .github/workflows/ci.yml
  ai-service/app/__pycache__/api.cpython-310.pyc
  ai-service/app/api.py
  ai-service/tests/test_booking_api.py
  package-lock.json
  package.json
Due: ai-service, scheduling-service

fix: E2Eテスト実行環境とCI設定を修正
  .github/workflows/ci.yml
  package.json
  playwright-report/data/69ab202ad7242c698aa403d9e2d9227a0c0581ff.md
  playwright-report/data/ede76cd8e0d12ec1cabf34b4db7099ea222a3a5e.png
  playwright-report/index.html
  playwright.config.ts
  test-results/.last-run.json
  test-results/auth-booking-学生がログインして予約するフロー-chromium/error-context.md
  test-results/auth-booking-学生がログインして予約するフロー-chromium/test-failed-1.png
  vitest.config.ts
Due: none

fix: CIテストとフロントエンドテストのエラー修正
  .github/workflows/ci.yml
  jest.setup.js
  src/components/LearningLog/LearningLogItem.tsx
  src/components/LearningLog/LearningLogList.test.tsx
  vitest.config.ts
Due: frontend

fix: テスト環境の更なる修正
  .github/workflows/ci.yml
  .storybook/main.ts
  jest.setup.js
  vitest.config.ts
Due: none

fix: Vitestとjest-domの統合問題を解決
  .github/workflows/ci.yml
  jest.setup.js
  vitest.config.ts
Due: none

test: E2Eテストを一時的にスキップ
  tests/e2e/auth-booking.spec.ts
Due: none

docs: Week3のCIテスト対応状況を追加
  docs/todo/week3-todo.md
Due: none

仮デプロイの打診をmdに記入
  docs/todo/week3-todo.md
Due: none

Path conditions:
  frontend: any of: src/
  ai-service: any of: ai-service/app/
  scheduling-service: any of: ai-service/app/api.py
